extends layout

block content

  script(type="text/x-handlebars" id="post")
    div#editor-area
      div#editor-loading
        h1 Loading.. 
      div#editor
        {{textarea value=code class="hidden"}}

  script(type="text/x-handlebars" id="about")
    div(class="about")
      h1 About section

  script(type="text/x-handlebars" id="shell")
    div(class="shell")
      h1 hello
       
  script(type="text/x-handlebars" id="posts")
    div(class="posts")
      div(class="container-fluid")
        div(class="row-fluid")
          div(class="span3")
            table(class="table")
              thead
                tr
                  th Recent Posts
              {{#each postList}}
              tr
                td
                  {{#link-to 'post' this}} 
                  {{title}} 
                  small(class="muted") by {{author.name}}
                  {{/link-to}}
              {{/each}}
          div(class="span9")
            {{outlet}}
        div(class="row-fluid")
          div(class="span6") 
            h3 Shell
            div(class="shell-editor") 
              {{textarea value=currentShellContent}}


  script(type="text/x-handlebars")
    div(class="navbar")
      div(class="navbar-inner")
        a(class="brand" href="#") R as a Service
        ul(class="nav")
          li.
            {{#link-to 'posts'}}Posts{{/link-to}}
          li.
            {{#link-to 'about'}}About{{/link-to}}
    {{outlet}}
